<ol class="breadcrumb">
    <li><a ui-sref="main">Inicio</a></li>
    <li>Cruces</li>    
</ol>
<div class="alert alert-dismissible" ng-class="{'alert-success': message.code === 200, 'alert-danger': message.code !== 200 }" role="alert" ng-show="message.code !== undefined">
    <button type="button" class="close" ng-click="message.code = undefined" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ message.message }} 
</div>

<h2>Lista de Cruces <a href="#/cruces/add" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Nuevo Cruce</a></h2>

<div class="row">
    <div class="col-sm-12">
        <div>
            <table class="table table-striped">
                 <thead>
                    <tr>
                        <th ng-style="{'width': cruces_ws.wCodigo}" sortable-header col="id">#</th>
                        <th ng-style="{'width': cruces_ws.wCodigoCruce}" sortable-header col="">Código Cruce</th>
                        <th ng-style="{'width': cruces_ws.wCodigoPunto}" sortable-header col="">Código Punto</th>
                        <th ng-style="{'width': cruces_ws.wSuministro}" sortable-header col="">Suministro</th>
                        <th ng-style="{'width': cruces_ws.wDescripcion}" sortable-header col="">Descripcion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="loading"><td colspan="5">Cargando...</td>
                    <tr ng-show="!loading && cruces.length == 0"><td colspan="5">No se encontraron cruces registrados</td>
                    <tr ng-show="!loading && cruces.length > 0" ng-repeat="cruce in cruces">
                        <td>{{ cruce.id }}</td>
                        <td>{{ cruce.codigoCruce }}</td>
                        <td>{{ cruce.codigoPunto }}</td>
                        <td>{{ cruce.suministro }}</td>
                        <td>{{ cruce.descripcion }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>