<form novalidate angular-validator angular-validator-submit="saveCruce(cruce, 'btnSaveCruce')" name="CruceEdit">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modificar Cruce</h4>
    </div>
    <div class="modal-body modal-body-overflow">
        <div class="form-group">
            <label for="txtCodigoCruce">Codigo Cruce:</label>
            <input id="txtCodigoCruce" class="form-control" type="text" ng-model="cruce.codigoCruce"
                name="cruceCodigoCruce" required required-message="'Este campo es requerido'" validate-on="blur"
                ng-pattern="'[0-9]+'" maxlength="4"
                invalid-message="'Sólo se puede ingresar números'"/>
        </div>
        <div class="form-group">
            <label for="txtCodigoPunto">Codigo Punto:</label>
            <input id="txtCodigoPunto" class="form-control" type="text" ng-model="cruce.codigoPunto" 
                name="cruceCodigoPunto" required required-message="'Este campo es requerido'" validate-on="blur"
                ng-pattern="'[0-9]+'" maxlength="3"
                invalid-message="'Sólo se puede ingresar números'"/>
        </div>
        <div class="form-group">
            <label for="txtSuministro">Suministro:</label>
            <input id="txtSuministro" class="form-control" type="text" ng-model="cruce.suministro"
                name="cruceSuministro" required required-message="'Este campo es requerido'" validate-on="blur"
                ng-pattern="'[0-9]+'" maxlength="8"
                invalid-message="'Sólo se puede ingresar números'"/>
        </div>
        <div class="form-group">
            <label for="txtDescripcion">Descripcion:</label>
            <input id="txtDescripcion" class="form-control" type="text" ng-model="cruce.descripcion"
                name="contactoNombreCompleto" required required-message="'Este campo es requerido'" validate-on="blur" />

        </div>
        <br>
        <div class="modal-footer">
            <button id="btnSaveCruce" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-save"></span> <span class="btn-text">Modificar</span></button>
            <button type="button" class="btn  btn-sm btn-danger" ng-click="cancel()">Cerrar</button>
        </div>
    </div>
</form>