
<h5>CRUCE: {{cruce.descripcion}} </h5> 


  <uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="Regulador">
        <p>Reguladores</p>
    </uib-tab>
    <uib-tab index="1" heading="Antena">Short Labeled Justified content</uib-tab>
    <uib-tab index="2" heading="CPU">Long Labeled Justified content</uib-tab>
    <uib-tab index="3" heading="Switch">Justified content</uib-tab>
    <uib-tab index="4" heading="Fuente">Short Labeled Justified content</uib-tab>
    <uib-tab index="5" heading="POE">Long Labeled Justified content</uib-tab>
    <uib-tab index="6" heading="Poste">Justified content</uib-tab>
    <uib-tab index="7" heading="Semaforo">Short Labeled Justified content</uib-tab>
  </uib-tabset>

