<ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
    <li><a href="#/cruces">Cruces</a></li>
    <li>Agregar Cruce</li>    
</ol>
<h2>Nuevo Cruce</h2>
<form>
    <div class="form-group">
        <label for="txtCodigoCruce">Codigo Cruce:</label>
        <input id="txtCodigoCruce" class="form-control col-xs-5" type="text">
        </div>
    <div class="form-group">
        <label for="txtCodigoPunto">Codigo Punto:</label>
        <input id="txtCodigoPunto" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label for="txtSuministro">Suministro:</label>
        <input id="txtSuministro" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label for="txtDescripcion">Descripcion:</label>
        <input id="txtDescripcion" class="form-control" type="text">
    </div>
<br>
<button type="button" class="btn btn-sm btn-default" disabled="disabled"><span class="glyphicon glyphicon-save"></span>Guardar</button>
<a href="#/cruces" <button type="button" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-remove"></span> Cancelar</button></a>

</form>